* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  overflow: hidden;
}
.dark-content {
  background: #3b3b3b;
}

.main {
  width: 75%;
  margin-top: 10px;
  margin-left: 20px;
}
.nav {
  width: 15%;
}
@media screen and (max-width: 1000px) {
  .main {
    margin-left: 50px;
  }
}
@media screen and (max-width: 800px) {
  .app {
    flex-direction: column;
    overflow: hidden;
  }

  .main {
    margin-top: 90px;
    margin-left: 15px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 500px) {
  .nav {
    width: 0;
  }
}
